.chooseCryptoHelp {
    margin: 1em;
    display: flex;
    justify-content: center;
}

.chooseCryptoHelp p {
    padding: 0.5em 1em;
    border-radius: 1em;
}

.chooseCryptoHelp p {
    background-color: rgb(100, 69, 187);
    color: white;
}
