/* Numpad.module.css */
.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.numpadButton {
    background-color: #3498db;
    border: none;
    border-radius: 0.5em;
    color: white;
    font-size: 1.5em;
    padding: 1em 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
    height: 80px;
}

.numpadButton:hover {
    background-color: #2980b9;
}

.okButton {
    background-color: #2ecc71;
    border: none;
    border-radius: 0.5em;
}

.okButton:hover {
    background-color: #27ae60;
}
