.enterPhoneScreen {
    background-color: rgb(255, 171, 68);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    height: 100vh;
    gap: 2em;
}

.enterPhoneHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.enterPhoneInstructions {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.phoneNumber {
    background: none;
    border: none;
    font-size: 3em;
    letter-spacing: 0.1em;
    color: white;
    width: 1ch;
    transition: width 0.2s;
}

.phoneNumber:focus {
    outline: none;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.numpadButton {
    background-color: #3498db;
    border: none;
    border-radius: 0.5em;
    color: white;
    font-size: 1.5em;
    padding: 1em 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.numpadButton:hover {
    background-color: #2980b9;
}

.okButton {
    background-color: #2cb866;
    border: none;
    border-radius: 0.5em;
}

.okButton:hover {
    background-color: #27ae60;
}

.cancelButton {
    background-color: #e74c3c;
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 1em 2em;
    cursor: pointer;
    font-size: 1.2em;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s ease;
}

.cancelButton:hover {
    background-color: #c0392b;
}

/* TYPOGRAPHY */

.enterPhoneHeader {
    font-size: 2em;
}
