.chooseCryptoScreen {
    background-color: rgb(255, 171, 68);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.supportedCoins {
    display: flex;
    gap: 2em;
}

.coinImg {
    width: 180px;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.8rem rgb(105, 51, 0));
    padding: 0.5em;
}

.chooseCryptoHelp {
    margin: 1em;
    display: flex;
    justify-content: center;
}

.chooseCryptoHelp p {
    padding: 0.5em 1em;
    border-radius: 1em;
}

/* TYPOGRAPHY */

.supportedCoins {
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.chooseCryptoHelp p {
    background-color: rgb(100, 69, 187);
    color: white;
}
