/* InputScreen.module.css */
.inputScreen {
    background-color: rgb(255, 171, 68);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 2em;
}

.inputHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;

    gap: 1em;
}

.inputHeader {
    font-size: 2em;
    text-transform: uppercase;
}

.inputInstructions {
    text-align: center;
    font-size: 1.2em;
}

.inputValue {
    background: none;
    border: none;
    font-size: 3em;
    letter-spacing: 0.1em;
    color: white;
    width: 1ch;
    transition: width 0.3s;
}

.inputValue:focus {
    outline: none;
}

